In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [29]:
#load data file
data = pd.read_csv('AFG_BW.csv')

In [30]:
data.head()

,p1,o1,s1,w1,p2,o2,s2,w2,p3,o3,...,o6,s6,w6,p7,o7,s7,w7,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,Hamid Hassan,8.0,23.0,1.0,Mohammad Nabi,10.0,39.0,2.0,Mirwais Ashraf,5.0,...,1.0,7.0,0.0,Aftab Alam,4.2,11.0,0.0,NaN,NaN,NaN
1,Hamid Hassan,6.3,24.0,3.0,Dawlat Zadran,2.0,18.0,0.0,Aftab Alam,7.0,...,8.0,28.0,1.0,Samiullah Shinwari,2.0,9.0,0.0,NaN,NaN,NaN
2,Hamid Hassan,10.0,61.0,2.0,Shapoor Zadran,7.0,20.0,2.0,Aftab Alam,9.0,...,4.5,32.0,0.0,Samiullah Shinwari,11.0,2.0,0.0,NaN,NaN,NaN
3,Dawlat Zadran,9.0,44.0,1.0,Shapoor Zadran,10.0,48.0,1.0,Hamid Hassan,9.0,...,0.5,6.0,0.0,Samiullah Shinwari,6.0,32.0,0.0,NaN,NaN,NaN
4,Dawlat Zadran,10.0,101.0,2.0,Shapoor Zadran,10.0,89.0,2.0,Hamid Hassan,10.0,...,4.0,18.0,0.0,Nawroz Mangal,1.0,14.0,1.0,NaN,NaN,NaN

In [31]:
data = data.loc[:, ~data.columns.str.contains('^Unnamed')]

In [32]:
data

,p1,o1,s1,w1,p2,o2,s2,w2,p3,o3,...,s5,w5,p6,o6,s6,w6,p7,o7,s7,w7
0,Hamid Hassan,8.0,23.0,1.0,Mohammad Nabi,10.0,39.0,2.0,Mirwais Ashraf,5.0,...,39.0,0.0,Nasir Jamal,1.0,7.0,0.0,Aftab Alam,4.2,11.0,0.0
1,Hamid Hassan,6.3,24.0,3.0,Dawlat Zadran,2.0,18.0,0.0,Aftab Alam,7.0,...,43.0,2.0,Javed Ahmadi,8.0,28.0,1.0,Samiullah Shinwari,2.0,9.0,0.0
2,Hamid Hassan,10.0,61.0,2.0,Shapoor Zadran,7.0,20.0,2.0,Aftab Alam,9.0,...,58.0,1.0,Javed Ahmadi,4.5,32.0,0.0,Samiullah Shinwari,11.0,2.0,0.0
3,Dawlat Zadran,9.0,44.0,1.0,Shapoor Zadran,10.0,48.0,1.0,Hamid Hassan,9.0,...,28.0,0.0,Asghar Afghan,0.5,6.0,0.0,Samiullah Shinwari,6.0,32.0,0.0
4,Dawlat Zadran,10.0,101.0,2.0,Shapoor Zadran,10.0,89.0,2.0,Hamid Hassan,10.0,...,34.0,0.0,Javed Ahmadi,4.0,18.0,0.0,Nawroz Mangal,1.0,14.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,Mujeeb Ur Rahman,10.0,52.0,0.0,Dawlat Zadran,9.0,73.0,2.0,Sayed Shirzad,8.0,...,56.0,1.0,Rashid Khan,10.0,52.0,1.0,-,NaN,NaN,NaN
70,Mujeeb Ur Rahman,10.0,33.0,2.0,Naveen-ul-Haq,8.0,30.0,1.0,Javed Ahmadi,3.3,...,44.0,0.0,Rashid Khan,10.0,43.0,0.0,-,NaN,NaN,NaN
71,Mujeeb Ur Rahman,10.0,52.0,1.0,Naveen-ul-Haq,9.0,60.0,3.0,Javed Ahmadi,2.0,...,37.0,1.0,Rashid Khan,10.0,45.0,1.0,-,NaN,NaN,NaN
72,Mujeeb Ur Rahman,10.0,49.0,2.0,Yamin Ahmadzai,8.4,49.0,0.0,Sharafuddin Ashraf,10.0,...,46.0,1.0,-,NaN,NaN,NaN,-,NaN,NaN,NaN
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
data = data.drop(73)

In [34]:
data

,p1,o1,s1,w1,p2,o2,s2,w2,p3,o3,...,s5,w5,p6,o6,s6,w6,p7,o7,s7,w7
0,Hamid Hassan,8.0,23.0,1.0,Mohammad Nabi,10.0,39.0,2.0,Mirwais Ashraf,5.0,...,39.0,0.0,Nasir Jamal,1.0,7.0,0.0,Aftab Alam,4.2,11.0,0.0
1,Hamid Hassan,6.3,24.0,3.0,Dawlat Zadran,2.0,18.0,0.0,Aftab Alam,7.0,...,43.0,2.0,Javed Ahmadi,8.0,28.0,1.0,Samiullah Shinwari,2.0,9.0,0.0
2,Hamid Hassan,10.0,61.0,2.0,Shapoor Zadran,7.0,20.0,2.0,Aftab Alam,9.0,...,58.0,1.0,Javed Ahmadi,4.5,32.0,0.0,Samiullah Shinwari,11.0,2.0,0.0
3,Dawlat Zadran,9.0,44.0,1.0,Shapoor Zadran,10.0,48.0,1.0,Hamid Hassan,9.0,...,28.0,0.0,Asghar Afghan,0.5,6.0,0.0,Samiullah Shinwari,6.0,32.0,0.0
4,Dawlat Zadran,10.0,101.0,2.0,Shapoor Zadran,10.0,89.0,2.0,Hamid Hassan,10.0,...,34.0,0.0,Javed Ahmadi,4.0,18.0,0.0,Nawroz Mangal,1.0,14.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,Mujeeb Ur Rahman,10.0,34.0,2.0,Hamid Hassan,2.0,13.0,0.0,Samiullah Shinwari,8.0,...,23.0,2.0,Rashid Khan,10.0,50.0,1.0,-,NaN,NaN,NaN
69,Mujeeb Ur Rahman,10.0,52.0,0.0,Dawlat Zadran,9.0,73.0,2.0,Sayed Shirzad,8.0,...,56.0,1.0,Rashid Khan,10.0,52.0,1.0,-,NaN,NaN,NaN
70,Mujeeb Ur Rahman,10.0,33.0,2.0,Naveen-ul-Haq,8.0,30.0,1.0,Javed Ahmadi,3.3,...,44.0,0.0,Rashid Khan,10.0,43.0,0.0,-,NaN,NaN,NaN
71,Mujeeb Ur Rahman,10.0,52.0,1.0,Naveen-ul-Haq,9.0,60.0,3.0,Javed Ahmadi,2.0,...,37.0,1.0,Rashid Khan,10.0,45.0,1.0,-,NaN,NaN,NaN
72,Mujeeb Ur Rahman,10.0,49.0,2.0,Yamin Ahmadzai,8.4,49.0,0.0,Sharafuddin Ashraf,10.0,...,46.0,1.0,-,NaN,NaN,NaN,-,NaN,NaN,NaN

In [6]:
players = ['p1','p2','p3','p4','p5','p6','p7']
player_scores = ['s1','s2','s3','s4','s5','s6','s7']
player_wickets = ['w1','w2','w3','w4','w5','w6','w7']

In [35]:
x = set()

In [36]:
for i in players:
    for j in range(len(data[i].unique())):
        x.add(data[i].unique()[j])

In [37]:
print(x)

{'Samiullah Shinwari', 'Mohammad Nabi', 'Dawlat Zadran', 'Shapoor Zadran', 'Yamin Ahmadzai', 'Naveen-ul-Haq', 'Nasir Jamal', 'Karim Janat', 'Rashid Khan', 'Najibullah Zadran', 'Asghar Afghan', 'Mujeeb Ur Rahman', 'Amir Hamza', 'Aftab Alam', 'Rokhan Barakzai', 'Hamid Hassan', 'Javed Ahmadi', 'Nawroz Mangal', 'Sharafuddin Ashraf', 'Karim Sadiq', '-', 'Gulbadin Naib', 'Fareed Ahmad', 'Rahmat Shah', 'Sayed Shirzad', 'Hashmatullah Shahidi', 'Zahir Khan', 'Mirwais Ashraf'}

In [38]:
x.remove('-')

In [39]:
len(x)

27

In [40]:
import itertools 
# def findsubsets(s, n): 
def findsubsets(s, n): 
    return [set(i) for i in itertools.combinations(s, n)]

In [41]:
#2-grams
sub2 = findsubsets(x,2)

In [56]:
column_names = ["player-1", "player-2", "avg", "wkavg"]

result_2grams = pd.DataFrame(columns = column_names)

In [57]:
for t in sub2:
    new_list = list(t)
    df = data[np.equal.outer(data.to_numpy(copy=False),  new_list).any(axis=1).all(axis=1)]
    count = 0;
    wkcount = 0;
    df = df.reset_index(drop=True)
    isempty = df.empty
    if(isempty):
        continue
    for index, row in df.iterrows():
        for ind, p in enumerate(players):
                if(df.iloc[index][p] == new_list[0] ):
                    count = count + df.iloc[index][player_scores[ind]]
                    wkcount = wkcount + df.iloc[index][player_wickets[ind]]
                if(df.iloc[index][p] == new_list[1] ):
                    count = count + df.iloc[index][player_scores[ind]]
                    wkcount = wkcount + df.iloc[index][player_wickets[ind]]
    avg = count/df.shape[0]
    wkavg = wkcount/df.shape[0]
    result_2grams = result_2grams.append({'player-1':new_list[0], 'player-2':new_list[1], 'avg':avg, 'wkavg':wkavg}, ignore_index=True)

In [58]:
result_2grams.head(25)

              player-1           player-2        avg     wkavg
0   Samiullah Shinwari      Mohammad Nabi  58.600000  0.920000
1   Samiullah Shinwari      Dawlat Zadran  61.238095  1.761905
2   Samiullah Shinwari     Shapoor Zadran  63.166667  1.000000
3   Samiullah Shinwari     Yamin Ahmadzai  25.000000  0.000000
4   Samiullah Shinwari        Rashid Khan  57.437500  2.375000
5   Samiullah Shinwari  Najibullah Zadran  26.000000  0.000000
6   Samiullah Shinwari      Asghar Afghan  38.000000  0.000000
7   Samiullah Shinwari   Mujeeb Ur Rahman  64.750000  1.750000
8   Samiullah Shinwari         Amir Hamza  56.500000  1.666667
9   Samiullah Shinwari         Aftab Alam  51.142857  1.428571
10  Samiullah Shinwari    Rokhan Barakzai  55.000000  2.000000
11  Samiullah Shinwari       Hamid Hassan  56.625000  1.500000
12  Samiullah Shinwari       Javed Ahmadi  41.000000  0.333333
13  Samiullah Shinwari      Nawroz Mangal  42.500000  0.500000
14  Samiullah Shinwari      Gulbadin Naib  62.750000  0.750000
15  Samiullah Shinwari       Fareed Ahmad  74.000000  3.000000
16  Samiullah Shinwari        Rahmat Shah  53.000000  0.666667
17  Samiullah Shinwari     Mirwais Ashraf  46.800000  1.200000
18       Mohammad Nabi      Dawlat Zadran  78.411765  2.529412
19       Mohammad Nabi     Shapoor Zadran  78.181818  1.636364
20       Mohammad Nabi     Yamin Ahmadzai  64.000000  1.750000
21       Mohammad Nabi      Naveen-ul-Haq  84.500000  2.750000
22       Mohammad Nabi        Nasir Jamal  46.000000  2.000000
23       Mohammad Nabi        Karim Janat  42.000000  2.000000
24         Rashid Khan      Mohammad Nabi  71.491803  3.524590

In [45]:
len(sub2)

351

In [46]:
len(result_2grams)

163

In [47]:
unique_list = list(x)
print(unique_list)

['Samiullah Shinwari', 'Mohammad Nabi', 'Dawlat Zadran', 'Shapoor Zadran', 'Yamin Ahmadzai', 'Naveen-ul-Haq', 'Nasir Jamal', 'Karim Janat', 'Rashid Khan', 'Najibullah Zadran', 'Asghar Afghan', 'Mujeeb Ur Rahman', 'Amir Hamza', 'Aftab Alam', 'Rokhan Barakzai', 'Hamid Hassan', 'Javed Ahmadi', 'Nawroz Mangal', 'Sharafuddin Ashraf', 'Karim Sadiq', 'Gulbadin Naib', 'Fareed Ahmad', 'Rahmat Shah', 'Sayed Shirzad', 'Hashmatullah Shahidi', 'Zahir Khan', 'Mirwais Ashraf']

In [48]:
column_names = ["player_name", "sum", "avg"]

result = pd.DataFrame(columns = column_names)

In [59]:
dictionary = dict()
dictionarywk = dict()
for indx, name in enumerate(unique_list):
    count = 0
    sum = 0
    wksum = 0
    for index, row in data.iterrows():
        for ind, p in enumerate(players):
                if(data.iloc[index][p] == name ):
#                     print(name)
                    sum = sum + data.iloc[index][player_scores[ind]] 
                    wksum = wksum + data.iloc[index][player_wickets[ind]] 
                    count += 1
    avg = round((sum/count),2)
    wkavg = round((wksum/count),2)
    print(name," : sum=",sum," , count=",count," , average=",round(avg,2))    
    dictionary[name] = avg
    dictionarywk[name] = wkavg
    result = result.append({'player_name':name, 'sum':sum, 'avg':avg}, ignore_index=True)
    
print(dictionary)
print(dictionarywk)

Samiullah Shinwari  : sum= 495.0  , count= 25  , average= 19.8
Mohammad Nabi  : sum= 2548.0  , count= 72  , average= 35.39
Dawlat Zadran  : sum= 2185.0  , count= 52  , average= 42.02
Shapoor Zadran  : sum= 450.0  , count= 11  , average= 40.91
Yamin Ahmadzai  : sum= 139.0  , count= 4  , average= 34.75
Naveen-ul-Haq  : sum= 201.0  , count= 4  , average= 50.25
Nasir Jamal  : sum= 7.0  , count= 1  , average= 7.0
Karim Janat  : sum= 31.0  , count= 1  , average= 31.0
Rashid Khan  : sum= 2218.0  , count= 62  , average= 35.77
Najibullah Zadran  : sum= 21.0  , count= 1  , average= 21.0
Asghar Afghan  : sum= 7.0  , count= 2  , average= 3.5
Mujeeb Ur Rahman  : sum= 1272.0  , count= 35  , average= 36.34
Amir Hamza  : sum= 700.0  , count= 20  , average= 35.0
Aftab Alam  : sum= 660.0  , count= 19  , average= 34.74
Rokhan Barakzai  : sum= 45.0  , count= 1  , average= 45.0
Hamid Hassan  : sum= 419.0  , count= 13  , average= 32.23
Javed Ahmadi  : sum= 162.0  , count= 8  , average= 20.25
Nawroz Mangal  : sum= 23.0  , count= 2  , average= 11.5
Sharafuddin Ashraf  : sum= 231.0  , count= 8  , average= 28.88
Karim Sadiq  : sum= 27.0  , count= 1  , average= 27.0
Gulbadin Naib  : sum= 1504.0  , count= 44  , average= 34.18
Fareed Ahmad  : sum= 99.0  , count= 3  , average= 33.0
Rahmat Shah  : sum= 314.0  , count= 15  , average= 20.93
Sayed Shirzad  : sum= 56.0  , count= 1  , average= 56.0
Hashmatullah Shahidi  : sum= 8.0  , count= 1  , average= 8.0
Zahir Khan  : sum= 55.0  , count= 1  , average= 55.0
Mirwais Ashraf  : sum= 546.0  , count= 18  , average= 30.33
{'Samiullah Shinwari': 19.8, 'Mohammad Nabi': 35.39, 'Dawlat Zadran': 42.02, 'Shapoor Zadran': 40.91, 'Yamin Ahmadzai': 34.75, 'Naveen-ul-Haq': 50.25, 'Nasir Jamal': 7.0, 'Karim Janat': 31.0, 'Rashid Khan': 35.77, 'Najibullah Zadran': 21.0, 'Asghar Afghan': 3.5, 'Mujeeb Ur Rahman': 36.34, 'Amir Hamza': 35.0, 'Aftab Alam': 34.74, 'Rokhan Barakzai': 45.0, 'Hamid Hassan': 32.23, 'Javed Ahmadi': 20.25, 'Nawroz Mangal': 11.5, 'Sharafuddin Ashraf': 28.88, 'Karim Sadiq': 27.0, 'Gulbadin Naib': 34.18, 'Fareed Ahmad': 33.0, 'Rahmat Shah': 20.93, 'Sayed Shirzad': 56.0, 'Hashmatullah Shahidi': 8.0, 'Zahir Khan': 55.0, 'Mirwais Ashraf': 30.33}
{'Samiullah Shinwari': 0.16, 'Mohammad Nabi': 1.12, 'Dawlat Zadran': 1.42, 'Shapoor Zadran': 0.64, 'Yamin Ahmadzai': 0.5, 'Naveen-ul-Haq': 1.5, 'Nasir Jamal': 0.0, 'Karim Janat': 0.0, 'Rashid Khan': 2.32, 'Najibullah Zadran': 0.0, 'Asghar Afghan': 0.5, 'Mujeeb Ur Rahman': 1.63, 'Amir Hamza': 1.4, 'Aftab Alam': 1.32, 'Rokhan Barakzai': 2.0, 'Hamid Hassan': 1.08, 'Javed Ahmadi': 0.75, 'Nawroz Mangal': 0.5, 'Sharafuddin Ashraf': 0.88, 'Karim Sadiq': 0.0, 'Gulbadin Naib': 1.07, 'Fareed Ahmad': 1.67, 'Rahmat Shah': 0.53, 'Sayed Shirzad': 1.0, 'Hashmatullah Shahidi': 0.0, 'Zahir Khan': 2.0, 'Mirwais Ashraf': 1.17}

In [77]:
new_column_names = ["player-1", "player-2", "combined_avg","sum_of_individual"]

afg_beautiful2grams = pd.DataFrame(columns = new_column_names)

new_column_names2 = ["player-1", "player-2"]

afgwk_beautiful2grams = pd.DataFrame(columns = new_column_names)
afg_beautiful2grams_both = pd.DataFrame(columns = new_column_names2)

In [78]:
for index, row in result_2grams.iterrows():
    player1 = result_2grams.iloc[index]['player-1']
    player2 = result_2grams.iloc[index]['player-2']
    combined = result_2grams.iloc[index]['avg']
    combinedwk = result_2grams.iloc[index]['wkavg']
    individual_avg_sum = dictionary.get(player1)+dictionary.get(player2)
    individual_avg_wk = dictionarywk.get(player1)+dictionarywk.get(player2)
    if(combined < individual_avg_sum):
        afg_beautiful2grams = afg_beautiful2grams.append({'player-1':player1, 'player-2':player2, 'combined_avg': combined, 'sum_of_individual':individual_avg_sum}, ignore_index=True)
    if(combinedwk > individual_avg_wk):
        afgwk_beautiful2grams = afgwk_beautiful2grams.append({'player-1':player1, 'player-2':player2, 'combined_avg': combinedwk, 'sum_of_individual':individual_avg_wk}, ignore_index=True)
    if(combinedwk > individual_avg_wk and combined < individual_avg_sum ):
        afg_beautiful2grams_both = afg_beautiful2grams_both.append({'player-1':player1, 'player-2':player2}, ignore_index=True)

In [79]:
afg_beautiful2grams.head()

             player-1           player-2  combined_avg  sum_of_individual
0  Samiullah Shinwari      Dawlat Zadran     61.238095              61.82
1  Samiullah Shinwari     Yamin Ahmadzai     25.000000              54.55
2  Samiullah Shinwari  Najibullah Zadran     26.000000              40.80
3  Samiullah Shinwari         Aftab Alam     51.142857              54.54
4  Samiullah Shinwari    Rokhan Barakzai     55.000000              64.80

In [80]:
len(afg_beautiful2grams)

78

In [81]:
#Wickets

In [82]:
afgwk_beautiful2grams.head()

             player-1        player-2  combined_avg  sum_of_individual
0  Samiullah Shinwari   Dawlat Zadran      1.761905               1.58
1  Samiullah Shinwari  Shapoor Zadran      1.000000               0.80
2  Samiullah Shinwari      Amir Hamza      1.666667               1.56
3  Samiullah Shinwari    Hamid Hassan      1.500000               1.24
4  Samiullah Shinwari    Fareed Ahmad      3.000000               1.83

In [83]:
len(afgwk_beautiful2grams)

67

In [84]:
 afg_beautiful2grams_both.head()

             player-1        player-2
0  Samiullah Shinwari   Dawlat Zadran
1       Mohammad Nabi  Yamin Ahmadzai
2       Mohammad Nabi   Naveen-ul-Haq
3       Mohammad Nabi     Karim Janat
4       Mohammad Nabi      Amir Hamza

In [85]:
len(afg_beautiful2grams_both)

27

In [86]:
afg_beautiful2grams_both

              player-1          player-2
0   Samiullah Shinwari     Dawlat Zadran
1        Mohammad Nabi    Yamin Ahmadzai
2        Mohammad Nabi     Naveen-ul-Haq
3        Mohammad Nabi       Karim Janat
4        Mohammad Nabi        Amir Hamza
5        Mohammad Nabi    Mirwais Ashraf
6    Najibullah Zadran     Dawlat Zadran
7           Amir Hamza     Dawlat Zadran
8        Dawlat Zadran      Javed Ahmadi
9       Mirwais Ashraf     Dawlat Zadran
10      Shapoor Zadran        Aftab Alam
11          Amir Hamza    Yamin Ahmadzai
12       Naveen-ul-Haq      Javed Ahmadi
13         Rashid Khan     Asghar Afghan
14         Rashid Khan        Amir Hamza
15         Rashid Khan     Gulbadin Naib
16         Rashid Khan      Fareed Ahmad
17          Aftab Alam     Asghar Afghan
18       Gulbadin Naib     Asghar Afghan
19        Javed Ahmadi  Mujeeb Ur Rahman
20          Amir Hamza       Karim Sadiq
21          Amir Hamza    Mirwais Ashraf
22          Aftab Alam      Hamid Hassan
23         Rahmat Shah        Aftab Alam
24          Aftab Alam    Mirwais Ashraf
25  Sharafuddin Ashraf      Javed Ahmadi
26        Fareed Ahmad     Gulbadin Naib

In [87]:
afg_beautiful2grams.to_csv('afg2grams_score.csv')

In [ ]:
afg_beautiful2grams.to_csv('afg2grams_score.csv')